Screen {
    background: $primary 0%;
    align: center middle;
}


Container {
    background: $primary 0%;
}


#label {
    background: rgba(0, 0, 0, 0);         
    color: white;
    margin-bottom: 1;
    margin-left: 1;

}

Footer {
    width: 70;
    margin-left: 71;
    margin-top: -20;
    margin-bottom: 5;
}

#username_input {
    max-width: 50;
}

