Screen {
    background: $primary 0%;
    align: center middle;
}



#label {
    background: rgba(0, 0, 0, 0);         
    color: white;
    margin-bottom: 1;
    margin-left: 1;

}

Footer {
    width: 70;
    align-horizontal: center;
}

#username_input {
    max-width: 50;
}

